In [1]:
import pandas as pd

In [2]:
#reading the csv file
df_exams=pd.read_csv('50_Startups.csv')
df_exams

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

# 1 Adding a new column

## 1.1 Adding a new column with a scalar value

In [12]:
# adding new column to dataframe
df_exams['Favorite Country']='India'
df_exams

,R&D Spend,Administration,Marketing Spend,State,Profit,Famous State,Favorite Country
0,165349.20,136897.80,471784.10,New York,192261.83,India,India
1,162597.70,151377.59,443898.53,California,191792.06,India,India
2,153441.51,101145.55,407934.54,Florida,191050.39,India,India
3,144372.41,118671.85,383199.62,New York,182901.99,India,India
4,142107.34,91391.77,366168.42,Florida,166187.94,India,India
5,131876.90,99814.71,362861.36,New York,156991.12,India,India
6,134615.46,147198.87,127716.82,California,156122.51,India,India
7,130298.13,145530.06,323876.68,Florida,155752.60,India,India
8,120542.52,148718.95,311613.29,New York,152211.77,India,India
9,123334.88,108679.17,304981.62,California,149759.96,India,India
10,101913.08,110594.11,229160.95,Florida,146121.95,India,India
11,100671.96,91790.61,249744.55,California,144259.40,India,India
12,93863.75,127320.38,249839.44,Florida,141585.52,India,India
13,91992.39,135495.07,252664.93,California,134307.35,India,India
14,119943.24,156547.42,256512.92,Florida,132602.65,India,India
15,114523.61,122616.84,261776.23,New York,129917.04,India,India
16,78013.11,121597.55,264346.06,California,126992.93,India,India
17,94657.16,145077.58,282574.31,New York,125370.37,India,India
18,91749.16,114175.79,294919.57,Florida,124266.90,India,India
19,86419.70,153514.11,0.00,New York,122776.86,India,India
20,76253.86,113867.30,298664.47,California,118474.03,India,India
21,78389.47,153773.43,299737.29,New York,111313.02,India,India
22,73994.56,122782.75,303319.26,Florida,110352.25,India,India
23,67532.53,105751.03,304768.73,Florida,108733.99,India,India
24,77044.01,99281.34,140574.81,New York,108552.04,India,India
25,64664.71,139553.16,137962.62,California,107404.34,India,India
26,75328.87,144135.98,134050.07,Florida,105733.54,India,India
27,72107.60,127864.55,353183.81,New York,105008.31,India,India
28,66051.52,182645.56,118148.20,Florida,103282.38,India,India
29,65605.48,153032.06,107138.38,New York,101004.64,India,India
30,61994.48,115641.28,91131.24,Florida,99937.59,India,India
31,61136.38,152701.92,88218.23,New York,97483.56,India,India
32,63408.86,129219.61,46085.25,California,97427.84,India,India
33,55493.95,103057.49,214634.81,Florida,96778.92,India,India
34,46426.07,157693.92,210797.67,California,96712.80,India,India
35,46014.02,85047.44,205517.64,New York,96479.51,India,India
36,28663.76,127056.21,201126.82,Florida,90708.19,India,India
37,44069.95,51283.14,197029.42,California,89949.14,India,India
38,20229.59,65947.93,185265.10,New York,81229.06,India,India
39,38558.51,82982.09,174999.30,California,81005.76,India,India
40,28754.33,118546.05,172795.67,California,78239.91,India,India
41,27892.92,84710.77,164470.71,Florida,77798.83,India,India
42,23640.93,96189.63,148001.11,California,71498.49,India,India
43,15505.73,127382.30,35534.17,New York,69758.98,India,India
44,22177.74,154806.14,28334.72,California,65200.33,India,India
45,1000.23,124153.04,1903.93,New York,64926.08,India,India
46,1315.46,115816.21,297114.46,Florida,49490.75,India,India
47,0.00,135426.92,0.00,California,42559.73,India,India
48,542.05,51743.15,0.00,New York,35673.41,India,India
49,0.00,116983.80,45173.06,California,14681.40,India,India

## 1.2 Adding a new column with an array

##### The dataframe has 50 rows , so we need to create an array with 1000 elements

In [8]:
# import numpy
import numpy as np

In [13]:
# create an array of 50 elements
State_score=np.arange(0,50)

In [11]:
# len of array
len(np.arange(0,50))

50

In [14]:
# adding a new column to data frame with an array
df_exams['Favourite Country']=State_score

In [15]:
df_exams

,R&D Spend,Administration,Marketing Spend,State,Profit,Famous State,Favorite Country,Favourite Country
0,165349.20,136897.80,471784.10,New York,192261.83,India,India,0
1,162597.70,151377.59,443898.53,California,191792.06,India,India,1
2,153441.51,101145.55,407934.54,Florida,191050.39,India,India,2
3,144372.41,118671.85,383199.62,New York,182901.99,India,India,3
4,142107.34,91391.77,366168.42,Florida,166187.94,India,India,4
5,131876.90,99814.71,362861.36,New York,156991.12,India,India,5
6,134615.46,147198.87,127716.82,California,156122.51,India,India,6
7,130298.13,145530.06,323876.68,Florida,155752.60,India,India,7
8,120542.52,148718.95,311613.29,New York,152211.77,India,India,8
9,123334.88,108679.17,304981.62,California,149759.96,India,India,9
10,101913.08,110594.11,229160.95,Florida,146121.95,India,India,10
11,100671.96,91790.61,249744.55,California,144259.40,India,India,11
12,93863.75,127320.38,249839.44,Florida,141585.52,India,India,12
13,91992.39,135495.07,252664.93,California,134307.35,India,India,13
14,119943.24,156547.42,256512.92,Florida,132602.65,India,India,14
15,114523.61,122616.84,261776.23,New York,129917.04,India,India,15
16,78013.11,121597.55,264346.06,California,126992.93,India,India,16
17,94657.16,145077.58,282574.31,New York,125370.37,India,India,17
18,91749.16,114175.79,294919.57,Florida,124266.90,India,India,18
19,86419.70,153514.11,0.00,New York,122776.86,India,India,19
20,76253.86,113867.30,298664.47,California,118474.03,India,India,20
21,78389.47,153773.43,299737.29,New York,111313.02,India,India,21
22,73994.56,122782.75,303319.26,Florida,110352.25,India,India,22
23,67532.53,105751.03,304768.73,Florida,108733.99,India,India,23
24,77044.01,99281.34,140574.81,New York,108552.04,India,India,24
25,64664.71,139553.16,137962.62,California,107404.34,India,India,25
26,75328.87,144135.98,134050.07,Florida,105733.54,India,India,26
27,72107.60,127864.55,353183.81,New York,105008.31,India,India,27
28,66051.52,182645.56,118148.20,Florida,103282.38,India,India,28
29,65605.48,153032.06,107138.38,New York,101004.64,India,India,29
30,61994.48,115641.28,91131.24,Florida,99937.59,India,India,30
31,61136.38,152701.92,88218.23,New York,97483.56,India,India,31
32,63408.86,129219.61,46085.25,California,97427.84,India,India,32
33,55493.95,103057.49,214634.81,Florida,96778.92,India,India,33
34,46426.07,157693.92,210797.67,California,96712.80,India,India,34
35,46014.02,85047.44,205517.64,New York,96479.51,India,India,35
36,28663.76,127056.21,201126.82,Florida,90708.19,India,India,36
37,44069.95,51283.14,197029.42,California,89949.14,India,India,37
38,20229.59,65947.93,185265.10,New York,81229.06,India,India,38
39,38558.51,82982.09,174999.30,California,81005.76,India,India,39
40,28754.33,118546.05,172795.67,California,78239.91,India,India,40
41,27892.92,84710.77,164470.71,Florida,77798.83,India,India,41
42,23640.93,96189.63,148001.11,California,71498.49,India,India,42
43,15505.73,127382.30,35534.17,New York,69758.98,India,India,43
44,22177.74,154806.14,28334.72,California,65200.33,India,India,44
45,1000.23,124153.04,1903.93,New York,64926.08,India,India,45
46,1315.46,115816.21,297114.46,Florida,49490.75,India,India,46
47,0.00,135426.92,0.00,California,42559.73,India,India,47
48,542.05,51743.15,0.00,New York,35673.41,India,India,48
49,0.00,116983.80,45173.06,California,14681.40,India,India,49

In [25]:
# create random integer numbers between 1 and 100
Fav_country_rate=np.random.randint(1,10,size=50)

In [26]:
# min value inclusive and high value exclusive 
min(Fav_country_rate)

np.int32(1)

In [31]:
# adding a new column to dataframe with an array
df_exams['Favourite Country rate']=Fav_country_rate
df_exams

,R&D Spend,Administration,Marketing Spend,State,Profit,Famous State,Favorite Country,Favourite Country,Favourite Country rate
0,165349.20,136897.80,471784.10,New York,192261.83,India,India,8,8
1,162597.70,151377.59,443898.53,California,191792.06,India,India,8,8
2,153441.51,101145.55,407934.54,Florida,191050.39,India,India,4,4
3,144372.41,118671.85,383199.62,New York,182901.99,India,India,5,5
4,142107.34,91391.77,366168.42,Florida,166187.94,India,India,9,9
5,131876.90,99814.71,362861.36,New York,156991.12,India,India,7,7
6,134615.46,147198.87,127716.82,California,156122.51,India,India,4,4
7,130298.13,145530.06,323876.68,Florida,155752.60,India,India,2,2
8,120542.52,148718.95,311613.29,New York,152211.77,India,India,1,1
9,123334.88,108679.17,304981.62,California,149759.96,India,India,3,3
10,101913.08,110594.11,229160.95,Florida,146121.95,India,India,1,1
11,100671.96,91790.61,249744.55,California,144259.40,India,India,6,6
12,93863.75,127320.38,249839.44,Florida,141585.52,India,India,2,2
13,91992.39,135495.07,252664.93,California,134307.35,India,India,5,5
14,119943.24,156547.42,256512.92,Florida,132602.65,India,India,2,2
15,114523.61,122616.84,261776.23,New York,129917.04,India,India,6,6
16,78013.11,121597.55,264346.06,California,126992.93,India,India,9,9
17,94657.16,145077.58,282574.31,New York,125370.37,India,India,8,8
18,91749.16,114175.79,294919.57,Florida,124266.90,India,India,4,4
19,86419.70,153514.11,0.00,New York,122776.86,India,India,8,8
20,76253.86,113867.30,298664.47,California,118474.03,India,India,1,1
21,78389.47,153773.43,299737.29,New York,111313.02,India,India,8,8
22,73994.56,122782.75,303319.26,Florida,110352.25,India,India,1,1
23,67532.53,105751.03,304768.73,Florida,108733.99,India,India,7,7
24,77044.01,99281.34,140574.81,New York,108552.04,India,India,7,7
25,64664.71,139553.16,137962.62,California,107404.34,India,India,1,1
26,75328.87,144135.98,134050.07,Florida,105733.54,India,India,2,2
27,72107.60,127864.55,353183.81,New York,105008.31,India,India,6,6
28,66051.52,182645.56,118148.20,Florida,103282.38,India,India,4,4
29,65605.48,153032.06,107138.38,New York,101004.64,India,India,4,4
30,61994.48,115641.28,91131.24,Florida,99937.59,India,India,7,7
31,61136.38,152701.92,88218.23,New York,97483.56,India,India,3,3
32,63408.86,129219.61,46085.25,California,97427.84,India,India,8,8
33,55493.95,103057.49,214634.81,Florida,96778.92,India,India,5,5
34,46426.07,157693.92,210797.67,California,96712.80,India,India,5,5
35,46014.02,85047.44,205517.64,New York,96479.51,India,India,7,7
36,28663.76,127056.21,201126.82,Florida,90708.19,India,India,8,8
37,44069.95,51283.14,197029.42,California,89949.14,India,India,9,9
38,20229.59,65947.93,185265.10,New York,81229.06,India,India,7,7
39,38558.51,82982.09,174999.30,California,81005.76,India,India,2,2
40,28754.33,118546.05,172795.67,California,78239.91,India,India,3,3
41,27892.92,84710.77,164470.71,Florida,77798.83,India,India,3,3
42,23640.93,96189.63,148001.11,California,71498.49,India,India,8,8
43,15505.73,127382.30,35534.17,New York,69758.98,India,India,2,2
44,22177.74,154806.14,28334.72,California,65200.33,India,India,9,9
45,1000.23,124153.04,1903.93,New York,64926.08,India,India,6,6
46,1315.46,115816.21,297114.46,Florida,49490.75,India,India,1,1
47,0.00,135426.92,0.00,California,42559.73,India,India,4,4
48,542.05,51743.15,0.00,New York,35673.41,India,India,2,2
49,0.00,116983.80,45173.06,California,14681.40,India,India,6,6

In [32]:
# create a random float numbers betweeen 1 and 100
np.random.uniform(1,100,size=100)

array([53.64871071, 68.37818933, 20.37184321, 59.95419528, 60.43606228,
       34.1361065 , 38.35738427, 90.55732707, 81.20590675, 60.35523691,
       62.26263661, 71.682623  , 43.10768314, 30.38119965,  4.29569873,
        9.95081681, 96.24406894, 53.01732677,  2.61301879, 85.32611537,
       42.82982755, 85.83910882, 45.18593203, 42.05758216, 11.25153458,
       58.94012399, 15.15938892,  9.52326067, 62.60497995, 60.27890355,
       23.71739965, 75.12050564,  7.71273336, 18.23943619, 49.78189552,
       10.23252044,  4.83536957, 48.97987494, 47.19193963, 57.43950562,
       88.31268607, 29.12664678, 61.89824186, 32.69415894, 14.74043406,
       69.20391054, 79.04959696, 63.61049664, 83.31955101, 11.54935426,
       41.97166943, 45.89947026, 68.11784835, 65.15697549, 97.47561492,
       72.16071474, 49.53815821, 62.44519105, 93.25707545, 77.04967688,
       70.05627401, 73.34332096,  3.64217282, 13.636853  , 33.90356876,
        5.7426706 , 61.377477  ,  7.44738474, 24.03689189, 19.46991634,
        1.5232823 , 46.266311  , 76.68280529, 37.28011974, 71.45525169,
       67.88555866, 21.55853745, 56.36926426, 37.5037861 , 25.50088528,
       70.31883438, 66.4184121 , 47.33105818, 25.06258176, 66.02468887,
       58.86384316, 78.42909425, 44.39506416, 51.3422493 , 15.0669035 ,
       69.1701769 , 89.32125452, 65.76424741, 79.99125844, 29.45817585,
        6.22762643, 90.30320621, 96.03284909, 41.25281563, 72.71162825])